<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <!--<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>SGBD</title>
    <style>
      #header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #F2F2F2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px;
            z-index: 1000;
        }
        #logo-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    </style>
</head>
<body>
  <div id="header">
    <div id = "logo-conteiner">
      <div id="simbolo">
        <a href="http://127.0.0.1:8000/">
        <img src="{% static 'logo\logo.png' %}" alt="Símbolo ECOnnect" id="logo-design" style="width: 50px; height: auto;"></a></div>

    </div>
  </div>
</body>
</html>